<ul class="progress-wizard row">
  <li class="col-xs-2 col-xs-offset-1">
    <a href="#step-1">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Visit Info</small>
  </li>
  <li class="col-xs-2">
    <a href="#step-2">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Patient Info</small>
    <hr>
  </li>
  <li class="col-xs-2">
    <a href="#step-3">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Relationship Info</small>
    <hr>
  </li>
  <li class="col-xs-2">
    <a href="#step-4">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Insurance Info</small>
    <hr>
  </li>
  <li class="col-xs-2">
    <a href="#step-5">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Pre-Register</small>
    <hr>
  </li>
  <!-- <div class="container-md">
        <hr class="full-hr">
    </div> -->
</ul>