<!-- Main search Version 2 -->
<div id="error-message-wrap" class="alert alert-danger">
    <div id='ce-search-error-messages' class="error-message container">
    </div>
  </div>
<div id="ce-search-options" class="container-sm ce-search-form">
  <div class="row">
    <div class="col-sm-9">
      <form>
        <a class="tooltip-info" data-toggle="tooltip" data-placement="top" title="You can use a comma to separate keywords in your search">
          <input type="search" name="Search" id="inputSearch" class="form-control" required="required" title="Search" placeholder="Please Enter a Keyword or Class / Event Name" >
          <a href="#ce-results-listing" class="basic-search"><i class="fa fa-search"></i></a>
        </a>
      </form>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary basic-search" id="searchButton">Search <i class="icon-search right"></i></button>
    </div>
  </div>


  <ul class="nav nav-tabs row">
  <!-- Search toggle -->
    <li class="col-sm-4 ce-search-more-options-toggle">
      <a class="collapsed" data-toggle="tab" data-parent="#ce-search" href="#ce-search-more-options"> More Search Options <i class="fa fa-angle-down"></i>
      </a>
    </li>
    <li class="col-sm-3 ce-search-more-options-toggle">
      <a class="collapsed" data-toggle="tab" data-parent="#ce-search" href="#ce-search-event"><i class="fa fa-calendar"></i>Find Eve
      </a>
    </li>
    <li class="col-sm-5 ce-search-more-options-toggle">
      <a class="collapsed" data-toggle="tab" href="#ce-search-withdrawal"><i class="fa fa-times-circle"></i> Withdraw from Class or Event
      </a>
    </li>
  </ul>

</div>


<div class="tab-content">

  <!-- Search - More options -->
  <section id="ce-search-more-options" class="ce-search-expanded tab-pane">
    <div class="container-sm">

      <!-- Search tabs -->
      <div class="ce-search-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#ce-search-tab-location" data-toggle="tab">Search by Location</a></li>
          <li><a href="#ce-search-tab-facility" data-toggle="tab">Search by Facility</a></li>
        </ul>

        <!-- Search tabbed content -->
        <div class="ce-search-expanded-content tab-content">

          <!-- Tab location content -->
          <div id="ce-search-tab-location" class="tab-pane active">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" id="zipCode" class="form-control" placeholder="Zip Code" value="{% raw %}{{zipCode}}{% endraw %}">
              </div>

              <div class="col-sm-6">
                <select name="distance" id="distance" class="form-control select-styled" required="required">
                  <option value="5">Within 5 Miles</option>
                  <option value="10">Within 10 Miles</option>
                  <option selected="selected" value="25">Within 25 Miles</option>
                  <option value="50">Within 50 Miles</option>
                  <option value="75">Within 75 Miles</option>
                  <option value="100">Within 100 Miles</option>
                  <option value="200">Within 200 Miles</option>
                </select>
              </div>
            </div>
            <div class="row">
              <!-- PICKADATE -->
              <div class="col-sm-6">
                <input name="date" class="datepicker form-control" placeholder="Date" id="startDate" />
              </div>
            </div>
          </div>
          <!-- Tab facility content -->
          <div id="ce-search-tab-facility" class="tab-pane">
            <div class="row">
              <div class="col-sm-6" id="marketNamesOptionHolder">
                {%raw%}
                  {{{createMarketNamesOption marketNames marketName}}}
                {%endraw%}
              </div>
              <div class="col-sm-6" id="facilitiesOptionHolder">
                {%raw%}
                  {{{createFacilityNamesOption facilities facilityCoid}}}
                {%endraw%}
              </div>
            </div> 
            <div class="row">
              <!-- PICKDATE -->
              <div class="col-sm-6">
                <input name="date" class="datepicker form-control" placeholder="Date" id="startDateFacility" />
              </div>
            </div>
          </div>
        </div> <!-- /search tab content -->
      </div> <!-- /ce-search-tabs -->
    </div>
  </section>

  <!-- Search - Find an Event -->
  <section id="ce-search-event" class="ce-search-expanded tab-pane">
    <div class="container-sm">

      <div class="ce-search-expanded-content">
        <div class="row">
          <form>
            <div class="row">
              <div id="" class="col-md-6 float-label">
                <i class="fa fa-exclamation-circle"></i>
                <input class="form-control" name="" type="text" id="" tabindex="" placeholder="Placeholder Text" required="1" />
              </div>
              <div id="" class="col-md-6 float-label">
                <i class="fa fa-exclamation-circle"></i>
                <input class="form-control" name="" type="text" id="" tabindex="" placeholder="Placeholder Text" required="1" />
              </div>
            </div>
            <div class="row">
              <div id="" class="col-md-6 float-label">
                <i class="fa fa-exclamation-circle"></i>
                <input class="form-control" name="" type="text" id="" tabindex="" placeholder="Placeholder Text" required="1" />
              </div>
              <div id="" class="col-md-6 float-label">
                <i class="fa fa-exclamation-circle"></i>
                <input class="form-control" name="" type="text" id="" tabindex="" placeholder="Placeholder Text" required="1" />
              </div>
            </div>
            <div class="row">
              <div id="" class="col-md-9 float-label">
                <i class="fa fa-exclamation-circle"></i>
                <input class="form-control" name="" type="text" id="" tabindex="" placeholder="Placeholder Text" required="1" />
              </div>
              <div class="col-md-3 ce-search-submit">
                <a href="#ce-results-listing" class="btn btn-primary">Search <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>

  <!-- Search - Withdrawal -->
  <section id="ce-search-withdrawal" class="ce-search-expanded tab-pane">
    <div class="container-sm">

      <div class="ce-search-expanded-content">
        <form>

          <div class="row">
            <div id="" class="col-md-12 float-label">
              <i class="fa fa-exclamation-circle"></i>
              <input class="form-control" name="" type="text" id="" tabindex="" placeholder="First Name" required="1" />
            </div>
          </div>

          <div class="row">
            <div id="" class="col-md-12 float-label">
              <i class="fa fa-exclamation-circle"></i>
              <input class="form-control" name="" type="text" id="" tabindex="" placeholder="Last Name" required="1" />
            </div>
          </div>

          <div class="row">
            <div id="" class="col-md-9 float-label">
              <i class="fa fa-exclamation-circle"></i>
              <input class="form-control" name="" type="text" id="" tabindex="" placeholder="Confirmation Number" required="1" />
            </div>
            <div class="col-md-3 ce-search-submit">
              <a data-toggle="modal" data-target="#ce-modal-withdrawal" class="btn btn-primary">Withdraw <i class="fa fa-angle-right"></i></a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 ce-search-help">
              <span><i class="fa fa-question-circle"></i> Need Help?</span>
              <span class="ce-search-help-phone">1-800-123-4567</span>
            </div>
          </div>
        </form>
      </div>

    </div>
  </section>

</div>

