---
layout: crm-ce
title: Class and Events Module - Register Confirmation
base_url: "../../"
---
<section id="ce-register-confirmation" class="ce-alert-message">
  <i class="fa fa-thumbs-up"></i>
  <h2>Registration Successful</h2>
  <p>Congratulations! You have successfully enrolled in the following events.</p>
  <p>You will be receiving an email notification confirming your registration</p>
</section>
<section id="ce-result-v2" class="ce-submit">
  <article class="container">
  <h2>Registration Confirmation Summary</h2>
  <div class="row">
    <div class="col-sm-9">
      <div class="row ce-result">
        <!-- Calendar and Time -->
        <div class="col-sm-2 ce-result-date-time">
          <div class="ce-result-calendar">{% include crm-ce/ce-little-calendar.html %}</div>
        </div>
        <!-- Event Title -->
        <div class="col-sm-7 ce-result-title">
          <h3><a data-toggle="modal" data-target="#modal-result-details">Centennial Heart Center</a></h3>
          <div class="row ce-result-location">
            <div class="col-sm-12 ce-result-time">
              <p>September 28, 2014</p>
              <p>9:00am - 11:30am</p>
              <div class="ce-result-location-info">
                <p><i class="fa fa-map-marker"></i> 3.5 Miles Away</p>
                <p>Stonecrest Medical Center</p>
                <p>123 Address Road Nashville TN 37203</p>
              </div>
              <div class="ce-result-attribute ce-result-details">
                <a data-toggle="modal" data-target="#modal-result-details" class="ce-att-details"><i class="fa fa-calendar"></i> See Full Details</a>
              </div>
              <hr>
              <div class="ce-event-info">
                <span>GUESTS:</span>
                <p data-added-guest="">Samantha Brown, Rob Brown</p>
                <span>PROVIDED INFO:</span>
                <p data-due-date="">Due August 01, 2014, First Time Pregnancy</p>
                <span>NOTE:</span>
                <p data-event-note="">We would appreciate your prompt attention to sending your fee. This will enable us to ensure your spot in the class.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ce-result-cost">
          <span><i class="fa fa-money"></i> $100.00</span>
          <div class="ce-discount">
            <span><i class="fa fa-check-circle">Discount</i></span>
          </div>
          <span class="ce-edit-info"><a href="{{ page.base_url }}register/"><i class="fa fa-pencil"></i> Edit Information</a></span>
        </div>
      </div>
      <div class="row ce-result">
        <!-- Calendar and Time -->
        <div class="col-sm-2 ce-result-date-time">
          <div class="ce-result-calendar">{% include crm-ce/ce-little-calendar.html %}</div>
        </div>
        <!-- Event Title -->
        <div class="col-sm-7 ce-result-title">
          <h3><a data-toggle="modal" data-target="#modal-result-details">Screening</a></h3>
          <div class="row ce-result-location">
            <div class="col-sm-12 ce-result-time">
              <p>September 28, 2014</p>
              <p>9:00am - 11:30am</p>
              <span>NOTE:</span>
              <p data-screen-note="">Do not eat or drink 24hrs prior</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ce-result-cost">
          <span><i class="fa fa-money"></i> FREE</span>
          <span class="ce-edit-info"><a href="{{ page.base_url }}register/"><i class="fa fa-pencil"></i> Edit Information</a></span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>SUMMARY</th>
          </tr>
        </thead>
        <tbody>
          <tr class="ce-cost">
            <th>Class/Event</th>
            <td>$100.00</td>
          </tr>
          <tr class="ce-discount">
            <th>Discount</th>
            <td>-$20.00</td>
          </tr>
          <tr class="ce-sub-total">
            <th>Subtotal:</th>
            <td>$80.00</td>
          </tr>
          <tr class="ce-total-cost">
            <th>Total Cost:</th>
            <td>$80.00</td>
          </tr>
        </tbody>
      </table>
      <div class="ce-result-cta">
        <a class="btn btn-default"><i class="fa fa-calendar"></i> Add to Calendar</a>
      </div>
      <div class="ce-result-cta">
        <a class="btn btn-default"><i class="fa fa-print"></i> Print This Page</a>
      </div>
      <div class="ce-result-cta">
        <p class="ce-extra-info">Questions? <span class="ce-extra-strong">1-800-123-4567</span></p>
      </div>
      <div class="ce-result-cta">
        <a class="btn btn-primary"><i class=""></i> Find Another Class or Event</a>
      </div>
    </div>
  </div>
  </article>
</section>
