---
layout: default-emulate
title: Link Patient Records
base_url: "../../"
---
<div class="container-sm row">
  {% comment %}{% include patient-registration/progress-bar.html %}{% endcomment %}
  <!-- Smart Wizard -->
  <form action="{{ page.base_url }}patient/" role="form" id="patient-registration-wizard" class="swMain col-sm-12">
    <input type="hidden" name="patientRegister" value="true">
    {% include patient-registration/progress-wizard-links.html %}
    {% include patient-registration/step-1.html %}
    {% include patient-registration/step-2.html %}
    {% include patient-registration/step-3.html %}
    {% include patient-registration/step-4.html %}
    {% comment %}{% include patient-registration/step-5.html %}{% endcomment %}
  </form>
</div>
