<div class="modal fade confirm-mrn-modal" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-mrn-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="confirm-mrn-modal-label">Success!</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
            <h1>Patient medical record linking has been successful.</h1>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>Please advise the patient to log in to their MyHealthONE account and complete the required steps to finish linking their medical records today!</p>
        <a href="{{ page.base_url }}login-linking">
          <button type="button" class="btn btn-secondary">OK</button>
        </a>
      </div>
    </div>
  </div>
</div>