<!-- Modal -->
<div class="modal fade confirm-emulate" id="remove-proxy" tabindex="-1" role="dialog" aria-labelledby="remove-proxy-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="remove-proxy-label">You have selected to act on behalf of <i>Daphne</i>.</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3 col-sm-offset-2">
            <img src="{{ page.base_url }}img/profile-mom-lg.jpg" data-src="" width="100" height="100" class="img-circle img-responsive lazy" id="">
            <h3>Suzy Jenkins (you)</h3>
          </div>
          <div class="col-sm-2">
            <!-- <i class="fa fa-arrow-right fa-lg"></i> -->
            <i class="fa fa-ellipsis-h fa-2x"></i>
            <i class="fa fa-chevron-right fa-2x"></i>
          </div>
          <div class="col-sm-3">
            <img src="{{ page.base_url }}img/profile-daughter-lg.jpg" data-src="" width="100" height="100" class="img-circle img-responsive lazy" id="">
            <h3>Daphne Jenkins</h3>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h3>Are you sure you want to become a proxy for <i>Daphne Jenkins?</i></h3>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="{{ page.base_url }}patient-emulate/">
          <button type="button" class="btn btn-secondary emulate-borders">Confirm</button>
        </a>
      </div> 
    </div>
  </div>
</div>