<div class="modal fade failure-explanation-modal flip-panel" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="failure-explanation-modal-label" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog back">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"><i class="fa fa-times-circle fa-lg flip-item-back"></i><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="failure-explanation-modal-label">Lorem Ipsum</h1>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
              <h5>Lorem Ipsum</h5>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            </div>
        </div>
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default center-block flip-item-back">OK</button>
      </div>
    </div>
  </div>
</div>