<div class="modal fade healthcheck-modal" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="healthcheck-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <span class="healthcheck-icon"><i class="fa fa-heartbeat"></i></span>
        <h1 class="modal-title" id="healthcheck-modal-label">Healthcheck</h1>
        <h2>System Status as of 8:34 AM CST, 2/2/2015</h2>
      </div>
      <div class="modal-body">
        <!-- table here -->
        <article class="container-md">
          <div class="log-table table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                </thead>

                <tbody>
                   <tr>
                    <td><i class="fa fa-circle online" aria-hidden="true"></i>CareLink</td>
                    <td>There are no issues at this time.</td>
                    <td>IT&amp;S</td>
                    <td>Nashville</td>
                    <td>8:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle system-down" aria-hidden="true"></i>HPF</td>
                    <td>System down due to weather in Boise, ID.</td>
                    <td>Parallon</td>
                    <td>Nashville</td>
                    <td>8:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle online" aria-hidden="true"></i>Initiate</td>
                    <td>There are no issues at this time.</td>
                    <td>IT&amp;S</td>
                    <td>Nashville</td>
                    <td>8:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle online" aria-hidden="true"></i>Class &amp; Events</td>
                    <td>There are no issues at this time.</td>
                    <td>IT&amp;S</td>
                    <td>Nashville</td>
                    <td>8:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle online" aria-hidden="true"></i>Find a Doctor</td>
                    <td>There are no issues at this time.</td>
                    <td>IT&amp;S</td>
                    <td>Nashville</td>
                    <td>8:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle online" aria-hidden="true"></i>Websphere</td>
                    <td>There are no issues at this time.</td>
                    <td>IBM</td>
                    <td>Chicago</td>
                    <td>8:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle system-down" aria-hidden="true"></i>MHO</td>
                    <td>RSA tokens are improperly functioning.</td>
                    <td>IT&amp;S</td>
                    <td>Nashville</td>
                    <td>8:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle online" aria-hidden="true"></i>Secure Messaging</td>
                    <td>There are no issues at this time.</td>
                    <td>Note-2-Doc</td>
                    <td>Boston</td>
                    <td>9:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle online" aria-hidden="true"></i>DotCMS</td>
                    <td>There are no issues at this time.</td>
                    <td>IT&amp;S</td>
                    <td>Nashville</td>
                    <td>8:34AM CST</td>
                    <td>02/02/2015</td>
                  </tr>

                  <tr>
                    <td><i class="fa fa-circle online" aria-hidden="true"></i>Example</td>
                    <td>There are no issues at this time.</td>
                    <td>Vendor</td>
                    <td>Pasadena</td>
                    <td>6:34AM PST</td>
                    <td>02/02/2015</td>
                  </tr>


                </tbody>
              </table>
          </div> <!--end log-table div-->
        </article>

      </div>
      <div class="modal-footer">
        <!-- <label class="sr-only" for="userName" aria-hidden="true">Enter Email Address</label>
          <input type="email" class="form-control required" id="userName" name="username" placeholder="johnjacobsmith@gmail.com" >
        <a data-dismiss="modal">
          <button type="button" class="btn btn-gray-light">Skip</button>
        </a>
        <a data-dismiss="modal" data-toggle="modal" data-target=".reset-password-modal2">
          <button type="button" class="btn btn-gray">Submit</button>
        </a> -->
      </div>
    </div>
  </div>
</div>
