<div class="modal fade mrn-info-modal flip-panel" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="enter-mrn-modal-label" aria-hidden="true">
  <div class="modal-dialog back">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"><i class="fa fa-times-circle fa-lg flip-item-back"></i><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="enter-mrn-modal-label">Medical Records Number</h1>
      </div>
      <div class="modal-body">
        <div class="row mrn-info">
            <div class="col-sm-6 col-sm-offset-6 mrn-info-box">
              <h5>MRN Number:</h5>
              <ul>
                <li>Near Your Discharge</li>
                <li>10-12 Digit Number</li>
                <li>Highlighted in Yellow</li>
              </ul>
            </div>
        </div>
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default center-block flip-item-back">OK</button>
      </div>
    </div>
  </div>
</div>