<div class="modal fade online-pre-registration-modal" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="reset-password-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <h1 class="modal-title">Online Pre-Registration</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
            </span>
            <div class="modal-info-wrap">
              <h2>You will need the information below to complete registration:</h2>
              <ul>
                <li>All Contact Information (patient, responsible party, and emergency contacts)</li>
                <li>All Current Insurance Cards (including Medicare and Medicaid)</li>
                <li>Date of Scheduled Visit or Expected Delivery</li>
                <li>Family and Ordering Physician First and Last Names</li>
                <li>Employer Contact Information</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" data-toggle="modal">
          <button type="button" class="btn btn-secondary">Begin Pre-Registration</button>
        </a>
      </div>
    </div>
  </div>
</div>