<div class="modal fade prototype-disclaimer-modal" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="prototype-disclaimer-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="prototype-disclaimer-label"><i class="fa fa-exclamation-triangle"></i>Prototype Alpha Disclaimer</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 text-left">
            <p>Please note that this is a PROTOTYPE alpha version of the MyHealthOne portal application which is still undergoing final development & testing before the official release.</p>

            <p>This PROTOTYPE is not representative of the existing functionality in the consumer portal, but is a representation of the vision for the product’s future development.  While some of the features in the prototype are indicative of current functionality in MyHealthOne, some of what you will see are future concepts that we are investigating for development. </p>

            <p>This PROTOTYPE version’s content is flat file based and not live data. The content/copy/imagery is for placement only and should be used referenced to as such. Many features, functions, interactions, layout, colors, icons, verbiage are not guarantee of what the final product will have. </p>

            <p>Therefore, all PROTOTYPE features and all content found on it are provided on an “as is” and “as available” basis. MyHealthOne does not give any guarantees, whether express or implied, as to the suitability or usability of the portal, its software or any of its content.</p>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" data-toggle="modal">
          <button type="button" class="btn btn-secondary">Agree</button>
        </a>
      </div>
    </div>
  </div>
</div>
