<!-- Modal -->
<div class="modal fade remove-proxy2" id="remove-proxy" tabindex="-1" role="dialog" aria-labelledby="remove-proxy-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="remove-proxy-label">You are about to remove</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <img src="{{ page.base_url }}img/profile-dad-lg.jpg" data-src="" width="130" height="130" class="img-circle img-responsive lazy" id="">
            <h1>David Jenkins </h1>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h3>Are you sure you want to remove yourself as a proxy for this patient?</h3>
        <button type="button" class="btn btn-default" data-dismiss="modal">Do not remove</button>
        <button type="button" class="btn btn-secondary">Remove Proxy</button>
      </div>
    </div>
  </div>
</div>