<div class="modal fade account-created-modal" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="account-created-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="account-created-modal-label">Account Created</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
            </span>
            <div class="un-pw">
              <h2>johnsmith12345 </h2>
              <h2>batmandandrobim12345</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>Here is the text for the person on the end of the phone.  The user will be prompted on longin to create and save a new password.</p>
        <a href="{{ page.base_url }}support-console/search/results">
          <button type="button" class="btn btn-gray">OK</button>
        </a>
      </div>
    </div>
  </div>
</div>