<div class="modal fade reset-password-modal" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="reset-password-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="reset-password-modal-label">Password Reset</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
            </span>
            <div class="">
              <h2>Please enter an email address below.</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <label class="sr-only" for="userName" aria-hidden="true">Enter Email Address</label>
          <input type="email" class="form-control required" id="userName" name="username" placeholder="johnjacobsmith@gmail.com" >
        <a data-dismiss="modal">
          <button type="button" class="btn btn-gray-light">Skip</button>
        </a>
        <a data-dismiss="modal" data-toggle="modal" data-target=".reset-password-modal2">
          <button type="button" class="btn btn-gray">Submit</button>
        </a>
      </div>
    </div>
  </div>
</div>