<div class="modal fade transmit-form-modal" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="race-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle fa-lg"></i><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="race-modal-label">Transmit Summary Of Care</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <h1>Suzy Jenkins</h1>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>Enter the information for the provider to which you want to transmit your summary of care.</p>
        <form role="form">
          <div class="form-group">
            <!-- <label for="exampleInputEmail1">Email Address</label> -->
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            <i class="fa fa-book"></i>
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputPassword1">Confirm Email</label> -->
            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Confirm email">
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputPassword1">Subject</label> -->
            <input type="subject" class="form-control" id="exampleInputPassword1" placeholder="Subject">
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputPassword1">Add Message</label> -->
            <textarea class="form-control" id="exampleInputPassword1" rows="10" placeholder="Add message"></textarea>
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputPassword1">Subject</label> -->
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Send CCD for patient">
          </div>
          <button type="button" class="btn btn-gray" data-dismiss="modal">No Thanks</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-share"></i>Transmit</button>
        </form>
      </div>
    </div>
  </div>
</div>