---
layout: search
title: Provider Directory
base_url: "../"
---
<!-- Incomplete.  Might be getting this content from external source aka Eric Motil. -David  -->

<section id="provider-directory">
  {% include search-results/search-bar.html %}
  {% include provider-directory/pd-search-tabs.html %}

  <article id="ce-results-criteria" class="container-sm">
    {% include provider-directory/pd-results-criteria.html %}
  </article>

  <div class="tab-content container-sm">
    <div class="crm-holder">
      <section id="pd-last-name-tab" class="tab-pane active">
        test1
      </section>

      <section id="pd-specialty-tab" class="tab-pane">
        test2
      </section>

      <section id="pd-more-options-tab" class="tab-pane">
        test3
      </section>
    </div>
  </div>
</section>





{% include footer-main.html %}