<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    {% include styles.html %}
    <!-- build:js(app) {{ page.base_url }}scripts/modernizr.js -->
    <script src="{{ page.base_url }}_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body id="cpp-default">
    <div class="dash-container">
      <div class="dash-clip">

        <!-- Navigation -->
        {% include navigation-main.html %}


        <!-- Header -->
        <!-- <div>
          <header>
            <p>Here's the header.</p>
          </header>
        </div> -->

        <!-- Page header and Breadcrumbs -->
        <div id="cpp-page-actions">
          {% include page-actions.html %}
        </div>

        <!-- Currently DISABLED with 'blah' in the path -->
        {% if page.url == '/consumer-profile/create-profile/blah' %}
          {% include progress-bar.html %}
        {% endif %}

            <!-- Message for those with JS disabled -->
        <noscript>
          <div class="container alert alert-danger">
            <p> For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" class="alert-link"> instructions how to enable JavaScript in your web browser</a></p>
          </div>
        </noscript>
        <!-- End JS disabled message -->

        <!-- Main content -->
        <div class="container" id="content-main">
          {{ content }}
        </div>

        <!-- Footer -->
    <!--     <div>

        </div> -->

        <!-- JavaScript -->
        {% include scripts.html %}
        <!-- RESUME: FIGURE OUT WHY USEMIN WASN'T CREATING MY JS FILE FOR THIS BLOCK -->
        <script src="{{ page.base_url }}scripts/validate/create-profile.validate.js"></script>

      </div>
    </div>

  </body>
</html>
