<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- CSS -->
    {% include styles.html %}
    <!-- build:js(app) {{ page.base_url }}scripts/modernizr.js -->
      <script src="{{ page.base_url }}_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <script>
        // For IE11. May we one day live without your BS.
        Modernizr.addTest('preserve3d', function(){return Modernizr.testAllProps('transformStyle', 'preserve-3d');});
    </script>
  </head>
  <body id="enrollment">
    <div id="cpp-enrollment">
    <!-- Navigation -->
    {% include enrollment/navigation.html %}
      <!-- Message for those with JS disabled -->
      <noscript>
        <div class="container alert alert-danger">
          <p> For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" class="alert-link"> instructions how to enable JavaScript in your web browser</a></p>
        </div>
      </noscript>
      <!-- End JS disabled message -->

      <!-- Main content -->
      <div id="content-main" class="container">
        <div class="login-modal-text white-text text-center">
        <h1>Simplifying your health care begins with MyHealth<i>One</i></h1>
        <h2>Create an account and start managing your health today.</h2>
       </div>
        {{ content }}
      </div>

    <!-- Footer -->
    {% include enrollment/footer.html %}
<!--
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 center-block">
                    <p class="navbar-text"><a href="#" class="navbar-link">Terms & Privacy</a></p>
                    <p class="navbar-text"><a href="#" class="navbar-link">Sitemap</a></p>
                </div>
            </div>
        </div>
    </footer>
 -->
    </div>


    <!-- JavaScript -->
    {% include scripts.html %}
    <!-- RESUME: FIGURE OUT WHY USEMIN WASN'T CREATING MY JS FILE FOR THIS BLOCK -->
    <script src="{{ page.base_url }}scripts/validate/login-form.validate.js"></script>
    <script src="{{ page.base_url }}scripts/enrollment.js"></script>
  </body>

</html>
