<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <!-- To kick IE out of quirks mode so Respond.js works -->
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />

    <!-- CSS -->
    {% include styles.html %}
    <!-- build:js(app) {{ page.base_url }}scripts/modernizr.js -->
    <script src="{{ page.base_url }}_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <style>
      #site-map header {
        margin: 50px 0 20px 0;
        background-color: #d1d1d1;
        padding: 5px;
      }
    </style>
  </head>

  <body id="site-map">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation-main">
      <img src="{{ page.base_url }}img/mho-logo-md.png" alt="MyHealthOne Logo" width="260" class="center-block">
    </nav>

    <header>
      <h1 class="text-center">SITE MAP</h1>
    </header>

    <!-- Main content -->
    <div id="content-main">
      {{ content }}
    </div>

    <!-- Footer -->
<!--     <footer>
      I'm zee footer
    </footer> -->
  </body>
</html>
