<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <!-- To kick IE out of quirks mode so Respond.js works -->
        <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />

        <!-- CSS -->
        {% include styles.html %}
        <!-- build:js(app) {{ page.base_url }}scripts/modernizr.js -->
        <script src="{{ page.base_url }}_bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>

    <body id="support-console">
        <div class="dash-container">
            <div class="dash-clip">

                <!-- Navigation -->
                {% include navigation-main.html %}

                <!-- Message for those with JS disabled -->
                <noscript>
                    <div class="container alert alert-danger">
                        <p> For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" class="alert-link"> instructions how to enable JavaScript in your web browser</a></p>
                    </div>
                </noscript>
                <!-- End JS disabled message -->

                <!-- Main content -->
                {% include sc-page-banner.html %}

                <div id="content-main">
                    {{ content }}
                </div>

                <!-- Footer -->
                <!-- ADD ONLINE PRIVACY STATEMENT MODAL HERE -->
                {% include support-console/sc-footer.html %}

                <!-- JavaScript -->
                {% include scripts.html %}
                <!-- build:js(app) {{ page.base_url }}scripts/smart-wizard.js -->
                <script src="{{ page.base_url }}scripts/smart-wizard.js"></script>
                <!-- endbuild -->
                <!-- build:js(app) {{ page.base_url }}scripts/patient-verification.js -->
                <script src="{{ page.base_url }}scripts/patient-verification.js"></script>
                <!-- endbuild -->
                <!-- build:js(app) {{ page.base_url }}scripts/validate/patient-verification.validate.js-->
                <script src="{{ page.base_url }}scripts/validate/patient-verification.validate.js"></script>
                <!-- endbuild -->

            </div>
        </div>


    </body>
</html>