---
layout: default
title: Clinical Activity Log
base_url: "../"
---
<section class="activity-log">
  <!-- summary and buttons -->
  <article class="container-sm">
    <div class="row">
      <div class="col-sm-12">
        <p class="section-summary">
          This is a list of every time your medical records were viewed, downloaded, or transmitted. Making this information available assures that you know who has accessed your private health information. If you feel that there has been unauthorized access to your health records, please contact (800) 987-6543.
        </p>
      </div>
    </div>

    <div class="row btn-row">
      <div class="col-xs-12 col-sm-4 mobile-select">
        <select name="sort" id="select-sort" class="form-control select-styled btn-text" required="required">
          <option value="" class="option-title">Results Per Page:</option>
          <option value="">5 Results</option>
          <option value="">25 Results</option>
          <option value="">50 Results</option>
          <option value="">A bazilion results</option>
        </select>
      </div>


      <div class="col-xs-12 col-sm-3 col-sm-offset-5">
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-primary-100 btn-summary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Summary of Care 
            <i class="fa fa-chevron-down" aria-hidden="true" alt="Summary of Care"></i>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download</a></li>
            <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> Transmit</a></li>
            <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i> Print</a></li>
            <li class="divider"></li>
            <li><a href="{{ page.base_url }}../lab-results">Lab Results</a></li>
          </ul>
        </div>

      </div>
    </div>

  </article> 
  <!--End container-sm for summary and buttons criteria-->

  {% include activity-log/log-table.html %}

  <!-- pagination include -->
  <div class="row text-center">
    <div class="col-xs-12 lr-pagination">
      {% include pagination.html %}
    </div>
  </div>

</section>

<!-- Lab Results Footer -->
{% include lab-results/footer.html %}
<!-- end lab results footer -->