<ul class="progress-wizard row">
  <li class="col-xs-2 col-xs-offset-2">
    <a href="#step-1">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Confirm Information</small>
  </li>
  <li class="col-xs-2">
    <a href="#step-2">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Connect Your Records</small>
    <hr>
  </li>
  <li class="col-xs-2">
    <a href="#step-3">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Verify Your Identity</small>
    <hr>
  </li>
  <li class="col-xs-2">
    <a href="#step-4">
        <span class="stepNumber">
            <div class="circle">&bull;</div>
        </span>
        <span class="stepDesc">
        </span>
    </a>
    <small>Account Verification</small>
    <hr>
  </li>
  <!-- <div class="container-md">
        <hr class="full-hr">
    </div> -->
</ul>