<div id="step-3" class="step-container">
    <h3 class="text-center">Verify Your Identity</h3>
    <p class="text-center lg-brand-text">Please select one of the following choices for each of the questions listed below then click the "Next" button</p>


    <section class="panel panel-default" id="verify-id-1">
        <div class="panel-body radio">
            <div class="row">
                <div class="col-sm-4 testy">
                    <small class="required-note" id="msg_question1" class="msg_error"> <i class="fa fa-exclamation-circle" aria-hidden="true" alt="Denotes required field"></i> Denotes required field</small>
                </div>
            </div>
            <p class="hca-large-info">What color Ford Mustang was registered to you in New York State in 2002?</p><!--<span id="msg_question1" class="msg_error"></span>-->
            <label>
                <input type="radio" name="group1" id="input" value="Blue">
                Blue
            </label>
            <label>
                <input type="radio" name="group1" id="input" value="Gold">
                Gold
            </label>
            <label>
                <input type="radio" name="group1" id="input" value="Red">
                Red
            </label>
            <label>
                <input type="radio" name="group1" id="input" value="Silver">
                Silver
            </label>
        </div>
    </section>

    <section class="panel panel-default" id="verify-id-2">
        <div class="panel-body radio">
            <div class="row">
                <div class="col-sm-4 testy">
                    <small class="required-note" id="msg_question2" class="msg_error"> <i class="fa fa-exclamation-circle" aria-hidden="true" alt="Denotes required field"></i> Denotes required field</small>
                </div>
            </div>
            <p class="hca-large-info">What city were you born in?</p>
            <label>
                <input type="radio" name="group2" id="input" value="Memphis">
                Memphis
            </label>
            <label>
                <input type="radio" name="group2" id="input" value="Nashville">
                Nashville
            </label>
            <label>
                <input type="radio" name="group2" id="input" value="Knoxville">
                Knoxville
            </label>
            <label>
                <input type="radio" name="group2" id="input" value="Clarksville">
                Clarksville
            </label>
        </div>
    </section>

    <section class="panel panel-default" id="verify-id-3">
        <div class="panel-body radio">
            <div class="row">
                <div class="col-sm-4 testy">
                    <small class="required-note" id="msg_question3" class="msg_error"> <i class="fa fa-exclamation-circle" aria-hidden="true" alt="Denotes required field"></i> Denotes required field</small>
                </div>
            </div>
            <p class="hca-large-info">What city did you and your spouse get married?</p>
            <label>
                <input type="radio" name="group3" id="input" value="Cabo San Lucas">
                Cabo San Lucas
            </label>
            <label>
                <input type="radio" name="group3" id="input" value="New York City">
                New York City
            </label>
            <label>
                <input type="radio" name="group3" id="input" value="Rome">
                Rome
            </label>
            <label>
                <input type="radio" name="group3" id="input" value="Gatlinburg">
                Gatlinburg
            </label>
        </div>
    </section>

    <section class="panel panel-default" id="verify-id-4">
        <div class="panel-body radio">
            <div class="row">
                <div class="col-sm-4 testy">
                    <small class="required-note" id="msg_question4" class="msg_error"> <i class="fa fa-exclamation-circle" aria-hidden="true" alt="Denotes required field"></i> Denotes required field</small>
                </div>
            </div>
            <p class="hca-large-info">What university from Georgia did you graduate from with a Bachelor&rsquo;s in Science, in 2002?</p>
            <label>
                <input type="radio" name="group4" id="input" value="Georgia Tech">
                Georgia Tech
            </label>
            <label>
                <input type="radio" name="group4" id="input" value="SCAD">
                SCAD
            </label>
            <label>
                <input type="radio" name="group4" id="input" value="University of Georgia">
                University of Georgia
            </label>
            <label>
                <input type="radio" name="group4" id="input" value="Berry College">
                Berry College
            </label>
        </div>
    </section>

</div>
