---
layout: support-console-login
base_url: "../"
---

{% include modals/sc-login-modal.html %}
{% include modals/sc-find-user-modal.html %}

<!-- there's a set height for this page so background image shows. only content besides footer is modal -->
<section>
  <div class="container-md">
    <div class="row">
      <div class="col-sm-12 support-console-footer">
        <ul>
          <li><a href="">Return to Hospital Homepage</a></li>
          <li><a href="">Terms &amp; Privacy</a></li>
          <li><a href="">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>