<footer id="enrollmentfooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center-block">
                <p class="footer-text"><a href="{{ page.base_url }}home/" class="navbar-link">Return To Hospital Home Page</a></p>
                <p class="footer-text"><a href="#" class="navbar-link">Terms & Privacy</a></p>
                <p class="footer-text"><a href="{{ page.base_url }}site-map" class="navbar-link">Sitemap</a></p>
            </div>
        </div>
    </div>
</footer>
