<!-- Password Reset -->
<div id="reset-password-modal" class="flip-panel flip">
    <div class="modal-dialog back">
        <div class="modal-content gray-bg">
            <div class="static-modal-header">
                <div class="brand-logo-white"></div>
            </div>
            <div class="static-modal-body">
                <div class="row">
                    <div class="center-block white-text text-center">
                        <h3>PASSWORD RESET</h3>
                        <h3>Please enter and confirm your new password</h3>
                    </div>
                </div>
                <form class="form-horizontal" role="form" action="reset-password-success/index.html" id="reset-password-form">
                    <div class="form-group row" id="password-formgroup">
                        <div class="col-sm-12 float-label">
                            <input type="password" class="form-control password-tooltip" data-toggle="tooltip" id="newPassword" placeholder="Password" name="newPassword">
                        </div>
                        <div class="col-sm-12 float-label">
                            <input type="password" class="form-control confirmPassword-tooltip" data-toggle="tooltip" id="confirmNewPassword" placeholder="Confirm Password" name="confirmNewPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block btn-primary-75 btn-primary-center">SUBMIT</button>
                        </div>
                    </div>
                    <!-- Check for bot -->
                    <div class="form-group botTest-formgroup">
                        <div class="col-sm-12">
                            <label for="botTest" class="control-label">Leave This Field Blank</label>
                            <input type="text" id="botTest" name="bot-test" class="form-control" placeholder="Leave This Field Blank" value="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
