
<!-- Terms and Conditions -->
<div id="terms-modal" class="flip-panel flip">
    <div class="modal-dialog front">
        <div class="modal-content gray-bg">
            <div class="static-modal-header">
                <button type="button" class="close cancel flip-terms-back" data-dismiss="static-modal" aria-hidden="true"><i class="fa  fa-times-circle" aria-hidden="true" alt="X"></i></button>
                <div class="brand-logo-white"></div>
            </div>
            <div class="static-modal-body">
                <div class="row">
                    <div class="col-sm-12 text-center"><h3>Terms &amp; Conditions</h3></div>
                </div>
                <div class="row">
                    <div class="terms-text center-block">
                        <p>The owner and operator of this website and its afﬁliates (“Provider,” "we" or "us") provide a website offering you secure,
                            private access to some of your records at Provider facilities, as well as certain internet-based services which may include,
                            among other things, assistance in ﬁnding a doctor, assistance in scheduling appointments, the ability to register for classes
                            and pre-register for procedures, and health and patient education materials (the “Portal”). These Terms and Conditions
                            apply to the Portal and its services (the "Services"), for which you also must accept Provider’s Privacy Policy associated
                            with the Portal. </p>
                        <p>Please read the following information carefully. Your continued use of the Portal will indicate your agreement to be
                            bound by these Terms and Conditions. If you do not agree to be bound by these Terms and Conditions, you may not access
                            or use the Portal.</p>
                        <h5>ELIGIBILITY</h5>
                        <p>Please read the following information carefully. Your continued use of the Portal will indicate your agreement to be
                            bound by these Terms and Conditions. If you do not agree to be bound by these Terms and Conditions, you may not access
                            or use the Portal.</p>
                        <p>Under state and Federal law, there are certain types of medical information that a parent or guardian of a minor patient
                            may not view without consent of the minor patient. Because of these requirements, the Portal may not be available to
                            parents or guardians for certain minor patient’s medical record without the minor patient’s authorization.</p>
                        <p>Proxy Portal enrollment may under certain circumstances require in person enrollment or veriﬁcation and may require
                            periodic re-conﬁrmation. By setting up a proxy account, you are attesting that (i) any necessary patient authorizations
                            have been provided; (ii) you have completed and/or provided all required documentation to the applicable medical
                            facility(ies); and (iii) your proxy access complies with applicable law and regulation</p>
                        <h5>USE OF THE PORTAL</h5>
                        <p>Only use the Portal if you understand and agree to all of the following:</p>
                        <p>(a) The Portal is intended as a secure online means for you to access your conﬁdential medical record information. It is
                            your responsibility to select a conﬁdential password, to authorize, monitor and control access to and use of your account,
                            ID and password, and to promptly inform Portal technical support if you need to inactivate your account, ID or password
                            for any reason. Please note that if you share your Portal user name and password with another person, this will allow that
                            person to see your conﬁdential medical record information. Provider has no responsibility concerning any breach of your
                            conﬁdential medical record information due to your sharing or losing your user name and password. Provider will not be
                            liable for any loss that you may incur as a result of someone else using your password or account, either with or without
                            your knowledge. However, you could be held liable for losses incurred by Provider or another party due to someone else
                            using your account or password. You may not use anyone else's Portal account at any time, without the authorization of
                            the account holder or in accordance with your rights as a personal representative under applicable law.</p>
                        <p>The owner and operator of this website and its afﬁliates (“Provider,” "we" or "us") provide a website offering you secure,
                            private access to some of your records at Provider facilities, as well as certain internet-based services which may include,
                            among other things, assistance in ﬁnding a doctor, assistance in scheduling appointments, the ability to register for classes
                            and pre-register for procedures, and health and patient education materials (the “Portal”). These Terms and Conditions
                            apply to the Portal and its services (the "Services"), for which you also must accept Provider’s Privacy Policy associated
                            with the Portal. </p>
                    </div>
                </div>
            </div>
            <div class="static-modal-footer">
                <!--<div class="row">
                    <div class="col-sm-12 text-center white-text"><input type="checkbox" id="terms-agree"> I have read and agree to the Terms &amp; Conditions</div>
                </div>-->
                <div class="row">
                    <div class="center-block">
                        <button class="flip-terms-back btn btn-default btn-block btn-primary-50 btn-primary-center" type="button" id="back-to-new-account">Return to Sign Up Page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
