<div class="crm-holder content-wrap-white">

  <div class="row">
    <div class="col-sm-12 lr-panel-header">
      <h3>Admission Information</h3>
    </div>
  </div>



    <!-- location dropdown - toggle switch to hide and show content -->
    <a data-toggle="collapse" data-target="#collapse-facility-one">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-hospital-o fa-lg" aria-hidden="true"></i>
            <span>Location</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->

  <div id="collapse-facility-one" class="collapse in">
    <div class="row lr-detail-facility-info">
      <div class="col-sm-7">
        <div class="row">

          <div class="col-sm-4">
            <img src="{{ page.base_url }}img/result-locations/facility-stonecrest-3.jpg" data-src="" width="80" height="80" class="img-circle img-responsive lazy">
          </div>

          <div class="col-xs-12 col-sm-8 lr-detail-facility-address">
            <h4>Stonecrest Medical Center</h4>
            <a href="">
              <p>Stonecrest Medical Center</p>
              <p>Suite 460</p>
              <p>123 Address Road</p>
              <p>Nashville, TN 37203</p>
            </a>

          </div>
        </div>

      </div>

      <div class="col-sm-5">
            <p class="lr-h5">Contact</p>
            <span><a href="">Larry Jahns</a></span>

            <p class="lr-h5">Medical Director</p>
            <span class=""><a href="http://buixld.com/provider-directory/provider-detail/">John Smith, II</a></span>
      </div>

    </div>

    <div class="row lr-detail-facility-info">
      <div class="col-xs-12">
        <img src="{{ page.base_url }}img/rectangle-map.png" data-src="" width="" height="" class="img-responsive lazy">
      </div>
    </div>
  </div>


    <!-- Duration of stay dropdown - toggle switch to hide and show content -->
    <a data-toggle="collapse" data-target="#collapse-duration">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-flag fa-lg" aria-hidden="true"></i>
            <span>Duration of Stay</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->



    <!-- pd panel body -->
    <div id="collapse-duration" class="collapse in">
      <div class="row duration-of-stay">
        <div class="col-xs-3">
          <h5 class="lr-h5">Admission</h5>
          <div id="lr-date-calendar">
            <div class="lr-date-month">
              <span>Mar</span>
            </div>
            <div class="lr-date-day">
              <span>7</span>
            </div>
            <div class="lr-date-time">
              <span>10:00 AM</span>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <h1>1 Day</h1>

          <div class="row">
            <div class="col-xs-4">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fa fa-flag fa-stack-1x fa-inverse" aria-hidden="true" alt="flask icon"></i>
              </span>
            </div>

            <div class="col-xs-4">
              <span class="line"></span>

            </div>


            <div class="col-xs-4">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fa fa-mail-forward fa-stack-1x fa-inverse" aria-hidden="true" alt="flask icon"></i>
              </span>
            </div>
          </div>

        </div>

        <div class="col-xs-3">
          <h5 class="lr-h5">Discharge</h5>
          <div id="lr-date-calendar">
            <div class="lr-date-month">
              <span>Mar</span>
            </div>
            <div class="lr-date-day">
              <span>7</span>
            </div>
            <div class="lr-date-time">
              <span>7:43 PM</span>
            </div>
          </div>
        </div>
      </div>


      <div class="row mobile-duration-of-stay">
        <div class="col-xs-12">
          <h1>3 Days</h1>
          <p class="lr-h5">Admission</p>
          <span><a href="">March 4th @ 10:00 AM</a></span>
          <p class="lr-h5">Discharge</p>
          <span><a href="">March 7th @ 7:43 AM</a></span>
        </div>
      </div>

    </div>

    <!-- Medical staff dropdown - toggle switch to hide and show content -->
    <a data-toggle="collapse" data-target="#collapse-medical-staff">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-user-md fa-lg" aria-hidden="true"></i>
            <span>Medical Staff</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->



    <!-- pd panel body -->
    <div id="collapse-medical-staff" class="collapse in">

      <div class="row medical-staff">
        <div class="col-xs-3">
          <img src="{{ page.base_url }}img/profile-dad-lg.jpg" data-src="" width="80" height="80" class="img-circle img-responsive lazy facility-img">
        </div>
        <div class="col-xs-9 doc-info">
          <span class="doc-name">Bob Barker, MD</span>
          <span class="doc-status">Attending</span>
          <span class="">Obstetrician</span>
        </div>
      </div>

      <div class="row medical-staff">
        <div class="col-xs-3">
          <img src="{{ page.base_url }}img/profile-son-lg.jpg" data-src="" width="80" height="80" class="img-circle img-responsive lazy facility-img">
        </div>
        <div class="col-xs-9 doc-info">
          <span class="doc-name">Joshua M Hixon, MD</span>
          <span class="doc-status">Fellowship</span>
          <span class="">Family Physician</span>
        </div>
      </div>

      <div class="row medical-staff">
        <div class="col-xs-3">
          <img src="{{ page.base_url }}img/profile-mom-lg.jpg" data-src="" width="80" height="80" class="img-circle img-responsive lazy facility-img">
        </div>
        <div class="col-xs-9 doc-info">
          <span class="doc-name">Jenna Corbins, MD</span>
          <span class="doc-status">Residency</span>
          <span class="">Osteopath</span>
        </div>
      </div>

      <div class="row medical-staff">
        <div class="col-xs-3">
          <img src="{{ page.base_url }}img/profile-grandpa-lg.jpg" data-src="" width="80" height="80" class="img-circle img-responsive lazy facility-img">
        </div>
        <div class="col-xs-9 doc-info">
          <span class="doc-name">Albert Einstein, MD</span>
          <span class="doc-status">Attending</span>
          <span class="">Radiologist</span>
        </div>
      </div>


    </div>


</div>