<div class="crm-holder content-wrap-white">

  <div class="row">
    <div class="col-sm-12 lr-panel-header">
      <h3>Medical Visit Details</h3>
    </div>
  </div>

    <!-- lab results panel subheader - toggle switch to hide and show content -->
    <a data-toggle="collapse" data-target="#collapse-medical-details-one">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-dashboard fa-lg" aria-hidden="true"></i>
            <span>Vital Signs Recorded</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->

  <div id="collapse-medical-details-one" class="collapse in">
    <h4>Patient Vital Signs at Discharge</h4>
    <div class="row">
      <div class="col-xs-3 vitals-panel">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-sort-amount-asc fa-stack-1x fa-inverse" aria-hidden="true" alt="height icon"></i>
        </span>
        <h5>Height</h5>
      </div>

      <div class="col-xs-3 stat">
        <span class="">5'7"</span>
      </div>

      <div class="col-xs-3 vitals-panel">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-anchor fa-stack-1x fa-inverse" aria-hidden="true" alt="height icon"></i>
        </span>
        <h5>Weight</h5>
      </div>

      <div class="col-xs-3 stat">
        <span class="">137 lbs</span>
      </div>

    </div>


    <div class="row">

      <div class="col-xs-3 vitals-panel">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-tint fa-stack-1x fa-inverse" aria-hidden="true" alt="height icon"></i>
        </span>
        <h5>Blood Pressure</h5>
      </div>

      <div class="col-xs-3 stat">
        <span class="">96/206</span>
      </div>

      <div class="col-xs-3 vitals-panel">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse" aria-hidden="true" alt="height icon"></i>
        </span>
        <h5>BMI</h5>
      </div>

      <div class="col-xs-3 stat">
        <span class="">12</span>
      </div>

    </div>
    
    <hr>

    <h4>Newborn Vital Signs at Discharge</h4>
    <div class="row">
      <div class="col-xs-3 vitals-panel">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-sort-amount-asc fa-stack-1x fa-inverse" aria-hidden="true" alt="height icon"></i>
        </span>
        <h5>Height</h5>
      </div>

      <div class="col-xs-3 stat">
        <span class="">20"</span>
      </div>

      <div class="col-xs-3 vitals-panel">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-anchor fa-stack-1x fa-inverse" aria-hidden="true" alt="height icon"></i>
        </span>
        <h5>Weight</h5>
      </div>

      <div class="col-xs-3 stat">
        <span class="">6.93 lbs</span>
      </div>

    </div>


    <div class="row">

      <div class="col-xs-3 vitals-panel">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-tint fa-stack-1x fa-inverse" aria-hidden="true" alt="height icon"></i>
        </span>
        <h5>Blood Pressure</h5>
      </div>

      <div class="col-xs-3 stat">
        <span class="">50/70</span>
      </div>

      <div class="col-xs-3 vitals-panel">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse" aria-hidden="true" alt="height icon"></i>
        </span>
        <h5>BMI</h5>
      </div>

      <div class="col-xs-3 stat">
        <span class="">12.3</span>
      </div>

    </div>
  </div> <!--end vital signs area-->


    <!-- lab results panel subheader - toggle switch to hide and show content -->
    <a data-toggle="collapse" data-target="#collapse-related-medications">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
            <span>Related Medications</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->

    <div id="collapse-related-medications" class="collapse in">

      <div class="medication-disclaimer">
        <i class="fa fa-exclamation-circle"></i>
        <p>If the directions regarding when you should take a medication differ from the directions provided with your prescription, please contact your physician for clarification.</p>
      </div>

      
      <h4>Discharge Medications</h4>

      <!-- micro test table of results/data -->
      <div class="log-table cbc-table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Medication</th>
              <th></th>
              <th>Route</th>
              <th>Frequency</th>
              <th>Last Updated</th>
            </tr>
          </thead>

          <tbody>
             <tr>
              <td>Chloroprocaine 20mg/ml</td>
              <td>
                <i class="fa fa-question-circle fa-lg info-button-popover popover-dismiss" aria-hidden="true" data-toggle="modal" data-target=".drug-detail-modal"></i>
              </td>
              <td>Needle/Catheter</td>
              <td>Once</td>
              <td>3/7/2013</td>
            </tr>
        
            <tr>
              <td>Bupivacaine 500 mg</td>
              <td>
                <i class="fa fa-question-circle fa-lg info-button-popover popover-dismiss" aria-hidden="true" data-toggle="modal" data-target=".drug-detail-modal"></i>
              </td>
              <td>Needle</td>
              <td>Once</td>
              <td>3/7/2013</td>
            </tr>

            <tr>
              <td>Fluoxetine 40 mg</td>
              <td>
                <i class="fa fa-question-circle fa-lg info-button-popover popover-dismiss" aria-hidden="true" data-toggle="modal" data-target=".drug-detail-modal"></i>
              </td>
              <td>Oral</td>
              <td>Three times a day</td>
              <td>3/7/2013</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- lab results panel subheader - toggle switch to hide and show content -->
    <a data-toggle="collapse" data-target="#collapse-related-lab-results">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-flask fa-lg" aria-hidden="true"></i>
            <span>Related Lab Results</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->

    <div id="collapse-related-lab-results" class="collapse in">
      <!-- lab results panel subheader - toggle switch to hide and show content -->
      <a data-toggle="collapse" data-target="#collapse-cbc">
        <div class="row lr-panel-subheader close-spin-toggle">

          <div class="col-xs-10">
              <span class="sub-panel">CBC/AUTO DIFF</span>
          </div>

          <div class="col-xs-2 toggle-icon">
              <i class="fa fa-plus-circle fa-lg close-spin-icon sub-panel" aria-hidden="true"></i>
          </div>

        </div>
      </a>
      <!-- end lab results panel subheader -->

      <div id="collapse-cbc" class="collapse">
        cbc content

      </div>

      <a data-toggle="collapse" data-target="#collapse-bmp">
        <div class="row lr-panel-subheader close-spin-toggle">

          <div class="col-xs-10">
              <span class="sub-panel">BMP</span>
          </div>

          <div class="col-xs-2 toggle-icon">
              <i class="fa fa-plus-circle fa-lg close-spin-icon sub-panel" aria-hidden="true"></i>
          </div>

        </div>
      </a>
      <!-- end lab results panel subheader -->

      <div id="collapse-bmp" class="collapse">
        bmp content

      </div>
      
    </div>
    <!-- end related lab results accordion -->

    <a data-toggle="collapse" data-target="#collapse-procedures-performed">
        <div class="row lr-panel-subheader close-spin-toggle">

          <div class="col-xs-10">
              <i class="fa fa-stethoscope fa-lg" aria-hidden="true"></i>
              <span>Procedures Performed</span>
          </div>

          <div class="col-xs-2 toggle-icon">
              <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
          </div>

        </div>
      </a>
      <!-- end lab results panel subheader -->

      <div id="collapse-procedures-performed" class="collapse in">

        <div class="row specimen-info">
          <div class="col-xs-12">
            <p>The procedures and dates perforemd are listed below. If you have any questions about the procedures performed, please contact your primary care provider for more information.</p>
          </div>
        </div>

        <div class="log-table cbc-table table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Procedure Name</th>
                <th>Date</th>
              </tr>
            </thead>

            <tbody class="procedures-table-body">
               <tr>
                <td>Auscultation </td>
                <td>3/7/2013</td>
              </tr>
          
              <tr>
                <td>Internal Contraction Monitoring</td>
                <td>3/7/2013</td>
              </tr>

              <tr>
                <td>External Electronic Fetal Monitoring</td>
                <td>3/7/2013</td>
              </tr>

              <tr>
                <td>Internal Electronic Fetal Monitoring</td>
                <td>3/7/2013</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>

