<div class="crm-holder content-wrap-white">

  <div class="row">
    <div class="col-sm-12 lr-panel-header">
      <h3>Summary of Visit</h3>
    </div>
  </div>

    <!-- lab results panel subheader - toggle switch to hide and show content -->
    <a data-toggle="collapse" data-target="#collapse-summary-one">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
            <span>Reason for Hospitalization</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->

    <div id="collapse-summary-one" class="collapse in">

      <div class="row specimen-info">
        <div class="col-xs-12">
          <p class="lr-h5">Result</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit in voluptate velit.
          </p>
        </div>
      </div>

      <!-- micro test table of results/data -->
      <div class="log-table cbc-table table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Encounter Diagnosis</th>
              <th>Start</th>
            </tr>
          </thead>

          <tbody>
             <tr>
              <td>Child Birth </td>
              <td>10/22/2013</td>
            </tr>
        
            <tr>
              <td>Neoplasm of Accessory Sinus</td>
              <td>10/01/2013</td>
            </tr>

            <tr>
              <td>Neoplasm of Accessory Sinus</td>
              <td>9/19/2013</td>
            </tr>

            <tr>
              <td>Neoplasm of Accessory Sinus</td>
              <td>9/19/2013</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- lab results panel subheader - toggle switch to hide and show content -->
    <a data-toggle="collapse" data-target="#collapse-summary-two">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
            <span>Care Plan</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->

    <div id="collapse-summary-two" class="collapse in">

      <div class="row summary-panel">
        <div class="col-sm-3 hidden-xs">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-heart fa-stack-1x fa-inverse" aria-hidden="true" alt="heart icon"></i>
          </span>
          <h5>Care Plan</h5>
        </div>
        <div class="col-sm-9 col-xs-12 summary-panel-info">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com- modo consequat aute irure dolor in reprehenderit in voluptate.</p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com</p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com- modo consequat aute irure dolor in reprehenderit in voluptate.</p>
        </div>
      </div>
      
    </div>


    <a data-toggle="collapse" data-target="#collapse-summary-three">
      <div class="row lr-panel-subheader close-spin-toggle">

        <div class="col-xs-10">
            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
            <span>Discharge Instructions for Patient</span>
        </div>

        <div class="col-xs-2 toggle-icon">
            <i class="fa fa-times-circle fa-lg close-spin-icon" aria-hidden="true"></i>
        </div>

      </div>
    </a>
    <!-- end lab results panel subheader -->

    <div id="collapse-summary-three" class="collapse in">
      <div class="row summary-panel">
        <div class="col-sm-3 hidden-xs">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-mail-forward fa-stack-1x fa-inverse" aria-hidden="true" alt="heart icon"></i>
          </span>
          <h5>Discharge</h5>
        </div>
        <div class="col-sm-9 col-xs-12 summary-panel-info">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com- modo consequat aute irure dolor in reprehenderit in voluptate.</p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com</p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com- modo consequat aute irure dolor in reprehenderit in voluptate.</p>
        </div>
      </div>
      
    </div>



</div>