<!-- 100% width for background image -->
<div class="care-team-stack" class="row">
    <!-- Centered width for elements -->
    <section class="care-team-stack-inner container-md row">
        <h3>Your Care Team</h3>
        <div class="container-sm row">
            <div class="col-sm-4 col-xs-4">
                <a href="http://buixld.com/provider-directory/provider-detail/"><img src="{{ page.base_url }}img/profile-dr-jack-lg.jpg" alt="" class="img-circle" width="75"></a>
                <p>Dr. Jack Trent<br>
                    <span class="small">Primary Care</span>
                </p>
            </div>
            <div class="col-sm-4 col-xs-4">
                <a href="http://buixld.com/provider-directory/provider-detail/"><img src="{{ page.base_url }}img/profile-dr-jack2-lg.jpg" alt="" class="img-circle" width="75"></a>
                <p>Dr. Jack Kinder<br>
                    <span class="small">Specialist</span>
                </p>
            </div>
            <div class="col-sm-4 col-xs-4">
                <a href="http://buixld.com/provider-directory/provider-detail/"><img src="{{ page.base_url }}img/profile-dr-kim-lg.jpg" alt="" class="img-circle" width="75"></a>
                <p>Dr. Kim Swan<br>
                    <span class="small">Specialist</span>
                </p>
            </div>
        </div>
        <ul class="list-inline care-team-items">
            <li><a href="http://buixld.com/provider-directory/"><i class="fa fa-user-md" aria-hidden="true" alt="Find a New Doc"></i>Find a New Doc</a></li>
            <li><a href="http://buixld.com/provider-directory/"><i class="fa fa-calendar" aria-hidden="true" alt="Make an Appointment"></i>Make an Appointment</a></li>
        </ul>
    </section>
</div> <!-- care-team-stack -->