<!-- 100% width for background image -->
<div class="h2u-stack" class="row">
    <!-- Centered width for elements -->
    <section class="h2u-stack-inner container-sm row">
        <div class="col-sm-3 col-xs-12 col-sm-offset-2">
            <img src="{{ page.base_url }}img/h2u-logo-sm.png" alt="Health To You" class="pull-left" width="150">
        </div>
        <div class="col-sm-5 col-xs-12">
            <h3>Improve Your Health</h3>
            <p>H2U is a leading and trusted provider of convenient, innovative and cost-effective health solutions.</p>
            <h4>We improve health &amp; reduce your healthcare costs. Find out more <a href="#">here</a>.</h4>
        </div>
    </section>
</div> <!-- h2u-stack -->