<!-- 100% width for background image -->
<div class="message-stack" class="row">
    <!-- Centered width for elements -->
    <section class="message-panel-stack container-md row">
        <div class="col-sm-5 col-xs-10 pull-right panel">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ page.base_url }}img/tristar-rendering.jpg" alt="TriStar Health" class="img-circle" width="75">
                </div>
                <div class="col-sm-8">
                    <small>provided by:</small>
                    <img src="{{ page.base_url }}img/ce-logo-tristar.gif" alt="TriStar Health logo" width="150">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <h3>Our Staff Cares for You</h3>
                <p class="small">September 12, 2013</p>
                <p>Our practice offers a full range of family practice services including pediatric through geriatric medicine. We also offer obsterical/- gynecological care and a full range of services pertaining to women's healthcare.</p>
                <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div> <!-- panel -->
    </section>
</div> <!-- pediatric-stack -->