<!-- 100% width for background image -->
<div class="pediatric-stack" class="row">
    <!-- Centered width for elements -->
    <section class="message-panel-stack container-md row">
        <div class="col-sm-5 col-xs-10 pull-right panel">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ page.base_url }}img/tristar-rendering.jpg" alt="TriStar Health" class="img-circle" width="75">
                </div>
                <div class="col-sm-8">
                    <small>provided by:</small>
                    <img src="{{ page.base_url }}img/ce-logo-tristar.gif" alt="TriStar Health logo" width="150">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <h3>Pediatric Specialties</h3>
                <p>The Children&rsquo;s Hospital at TriStar Centennial offers pediatric subspecialists specially trained to treat the unique needs of your child.</p>
                <button type="button" class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div> <!-- panel -->
    </section>
</div> <!-- pediatric-stack -->