<!-- 100% width for background image -->
<div class="recent-visits-stack" class="row">
    <!-- Centered width for elements -->
    <section class="recent-visits-stack-inner container-md row">
        <h3>Recent Visits</h3>
        <div class="container-sm row">
            <ul>
                <li class="col-sm-3 col-xs-3">
                    <a href="{{ page.base_url }}activity-log/">
                        <div class="cal-month">Dec</div>
                        <div class="cal-date">4</div>
                        <p>Routine Check-Up<br>
                            <span class="small">Suzy Jenkins</span>
                        </p>
                    </a>
                </li>
                <li class="col-sm-3 col-xs-3">
                    <a href="{{ page.base_url }}activity-log/">
                        <div class="cal-month">Jan</div>
                        <div class="cal-date">13</div>
                        <p>Outpatient Surgery<br>
                            <span class="small">Suzy Jenkins</span>
                        </p>
                    </a>
                </li>
                <li class="col-sm-3 col-xs-3">
                    <a href="{{ page.base_url }}activity-log/">
                        <div class="cal-month">Mar</div>
                        <div class="cal-date">13</div>
                        <p>Internal Visit<br>
                            <span class="small">Suzy Jenkins</span>
                        </p>
                    </a>
                </li>
                <li class="col-sm-3 col-xs-3">
                    <a href="{{ page.base_url }}activity-log/">
                        <div class="cal-month">Jun</div>
                        <div class="cal-date">9</div>
                        <p>Annual Physical<br>
                            <span class="small">Suzy Jenkins</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div> <!-- recent-visits-stack -->