<!-- 100% width for background image -->
<div class="records-link-stack" class="row">
    <!-- Centered width for elements -->
    <section class="records-link-stack-inner container-sm row">
        <h3>A healthier you is only one step away.</h3>
        <p>Link your patient health records today.</p>
            <ul class="clearfix">
                <li class="pull-left records-link-item"><i class="fa fa-flask" aria-hidden="true" alt="View Lab Results"></i>View Lab Results</li>
                <li class="pull-left records-link-item"><i class="fa fa-medkit" aria-hidden="true" alt="Review Health Records"></i>Review Health Records</li>
                <li class="pull-left records-link-item"><i class="fa fa-calendar" aria-hidden="true" alt="Make Appointments"></i>Make Appointments</li>
                <li class="pull-left records-link-item"><i class="fa fa-money" aria-hidden="true" alt="Pay Your Bills"></i>Pay Your Bills</li>
            </ul>
            <a href="{{ page.base_url }}patient/patient-registration/landing-page/" class="btn btn-large btn-block btn-primary">Link Your Account Today!</a>
    </section>
</div> <!-- records-link-stack -->