<footer>
	<div class="container">

		<!-- Affiliated hospital and relvant link -->
		<div class="row footer-row footer-site-map">

			<div class="col-md-3 footer-group">
				<h4>Classes &amp; Events</h4>
				<img src="{{ page.base_url }}img/footer/footer-logo-tristar-centennial.png">
			</div>

			<div class="col-md-3 col-sm-4 footer-group">
				<h4>Address</h4>
				<p>TriStar Centennial <br/>
					2300 Patterson St <br/>
					Nashville, TN 37203 <br/>
					(615) 342-1000
				</p>
			</div>

			<div class="col-md-3 col-sm-4 footer-group">
				<h4>Some Links</h4>
				<ul>
					<li><a href="http://eirmc.com">Health Library</a></li>
					<li><a href="http://google.com">Services at Tristar Centennial</a></li>
					<li><a href="http://hcavirginia.com/locations/">Maps &amp; Directions</a></li>
				</ul>
			</div>

			<div class="col-md-3 col-sm-4 footer-group">
				<h4>Some More Links</h4>
				<ul>
					<li><a href="http://hcavirginia.com/about/">Time Machine</a></li>
					<li><a href="http://google.com">Vending Machine</a></li>
					<li><a href="http://tristarcentennial.com/">Dance Machine</a></li>
				</ul>
			</div>
		</div>

		<!-- Site map and location information
		<div class="row footer-row footer-affiliations">

			<div class="col-md-3 footer-group">
				<h4>Affiliated Locations</h4>
				<img src="img/footer/footer-logo-tristar-health.png">
			</div>

			<div class="col-md-3 footer-group">
				<h4>Address</h4>
				<p>110100 Binary Lane<br/>
					Hello, HI 11111<br/>
					(800) 277-2329 | <a href="">Contact Us</a>
				</p>
			</div>

			<div class="col-md-3 footer-group">
				<h4>Some Links</h4>
				<ul>
					<li><a href="http://eirmc.com">Eastern Idaho RMC</a></li>
					<li><a href="http://google.com">Largo Medical Center</a></li>
					<li><a href="http://hcavirginia.com/locations/">Chippenham Hospital</a></li>
				</ul>
			</div>

			<div class="col-md-3 footer-group">
				<h4>Some More Links</h4>
				<ul>
					<li><a href="http://hcavirginia.com/about/">HCA Virginia Headquarters</a></li>
					<li><a href="http://google.com">JFK Medical Center</a></li>
					<li><a href="http://tristarcentennial.com/">TriStar Centennial</a></li>
				</ul>
			</div>
		</div>
		-->

		<!-- Legal and social area at very bottom of footer -->
		<div class="row footer-legal">

			<div class="col-md-11 col-sm-10">
				<p>Copyright 1999-2013 ehc.com; All rights reserved. <a href="">Terms &amp; Conditions of Use</a> | <a href="">Website Privacy Notice</a> | <a href="">Social Media Policy</a></p>
			</div>

			<div class="col-md-1 col-sm-2 col-xs-5 footer-social-icons">
				<img src="{{ page.base_url }}img/footer/footer-social-icons.png">
			</div>

		</div>

	</div>
</footer>
