<div class="modal fade" id="ce-modal-payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="ce-modal-dismiss close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
				<h3 class="modal-title" id="myModalLabel">Payment</h3>
			</div>

			<div class="modal-body">
				{% include crm-ce/ce-modal-hps-iframe.html %}
			</div>

			<div class="modal-info">
				<div class="modal-info-text">
					<span><i class="fa fa-info-circle"></i> Need Help?</span>
					<span class="modal-info-text-phone">1-800-123-4567</span>
				</div>
			</div>
		</div>
	</div>
</div>
