<div class="modal fade" id="ce-modal-withdrawal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="ce-modal-dismiss close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
				<h3 class="modal-title" id="myModalLabel">You are withdrawing from</h3>
			</div>

			<div class="modal-body">
				<!-- Result in body -->
				<article class="ce-result">

					<!-- Event title location date and time -->
					<div id="ce-result-info" class="row">

						<!-- Event Title -->
						<div class="col-sm-8 ce-result-title">
							<h3><a data-toggle="modal" data-target="#ce-modal-result-details">Centennial Bariatric (weight loss) Surgery Seminar</a></h3>
							<p>Celebrate all that life has to offer and reclaim your power over food! Register now for a free informational seminar to begin your Centennial Experience today!</p>

							<!-- Location information -->
							<div class="row ce-result-location">
								<div class="col-xs-3 ce-result-location-img">
									<img class="img-circle" src="{{ page.base_url }}img/result-locations/facility-stonecrest-1.jpg">
								</div>
								<div class="col-sm-9 ce-result-location-info">
									<p><i class="fa fa-map-marker"></i> 3.5 Miles Away</p>
									<a href="https://www.google.com/maps/place/2200+Murphy+Ave/@36.1547456,-86.8060501,17z/data=!3m1!4b1!4m2!3m1!1s0x886466b8ca81945f:0x7192c427307a32a3">
									<p>Tace Building</p>
									<p>2200 Murphy Avenue Nashville TN 37203</p>
									</a>
								</div>



							</div>

						</div>

						<!-- Calendar and Time -->
						<div class="col-sm-4 ce-result-date-time">
							<div class="row">
								<div class="col-sm-12 ce-result-calendar">{% include crm-ce/ce-little-calendar.html %}</div>
								<div class="col-sm-12 ce-result-time">
									<p>September 28, 2014</p>
									<p>9:00am - 11:30am</p>
								</div>
							</div>
						</div>

					</div>

					<!-- Result Attributes -->
					<div id="ce-result-attributes" class="row">
						<!-- Result details
						<div class="col-sm-3 ce-result-attribute ce-result-details">
						</div>  -->

						<!-- Availability
						<div class="col-sm-3 ce-result-attribute ce-result-available">
							<span class="ce-alert-success"><i class="fa fa-check-circle"></i> 8/10 Spots Open</span>
						</div>  -->

						<!-- Cost -->
						<div class="col-sm-2 ce-result-attribute ce-result-cost">
							<span class="ce-alert-default"><i class="fa fa-money"></i> $100.00</span>
						</div>

						<!-- Register for event
						<div class="col-sm-4 ce-result-cta">
							<a href="{{ page.base_url }}register/" class="btn btn-success"><i class="fa fa-check"></i> Register for Event</a>
						</div>  -->

						<!-- Call to register
						<div class="col-sm-4 ce-result-cta">
							<a href="{{ page.base_url }}register/" class="btn btn-info"><i class="fa fa-phone"></i> Call: (123) 456-7890</a>
						</div> -->

						<!-- Joing waitlist
						<div class="col-sm-4 ce-result-cta">
							<a href="{{ page.base_url }}register/" class="btn btn-default"><i class="fa fa-flag"></i> Join Waitlist</a>
						</div> -->

						<!-- Toggle payment modal
						<div class="col-sm-4 ce-result-cta">
							<a data-toggle="modal" data-target="#ce-modal-payment" class="btn btn-success"><i class="fa fa-check"></i> Toggle Payment Modal</a>
						</div> -->

					</div>

				</article>
			</div>

			<div class="modal-footer">
				<p> I want to withdraw from this class and have $100 refunded</p>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a href="{{ page.base_url }}withdrawal-confirmation/" type="button" class="btn btn-warning">Confirm Withdrawal</a>
			</div>

			<div class="modal-info">
				<div class="modal-info-text">
					<span><i class="fa fa-info-circle"></i> Need Help?</span>
					<span class="modal-info-text-phone">1-800-123-4567</span>
				</div>
			</div>
		</div>
	</div>
</div>
