<div id="ce-page-header">
	<h1>Classes &amp; Events</h1>
</div>

<div id="ce-page-breadcrumbs">
	
	<div class="container">
		<div class="row">
			
			<div class="col-md-10 col-sm-10">
				<ol class="breadcrumb">
					<li><a href="{{ page.base_url }}">Home</a></li>
					<li><a href="{{ page.base_url }}">Patients &amp; Visitors</a></li>
					<li><a href="{{ page.base_url }}">Classes &amp; Events</a></li>
					<li class="active">Register</li>
					
				</ol>
			</div>
			
			<div class="col-md-2 col-sm-2 ce-page-actions">
				<a><i class="fa fa-print"></i></a>
				<a><i class="fa fa-download"></i></a>
				<a><i class="fa fa-share-square-o"></i></a>
			</div>
			
		</div>
	</div>

</div>