<div class="log-table table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>MH1-ID<span class="caret"></span></th>
        <th>Name</th>
        <th>Activity<span class="caret"></span></th>
        <th>Date<span class="caret"></span></th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Class Withdrawal</td>
        <td>08/04/2014</td>
        <td>7:42:38 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Loin Success</td>
        <td>08/04/2014</td>
        <td>7:38:02 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Login Failure</td>
        <td>08/04/2014</td>
        <td>7:37:41 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Physician Profile View</td>
        <td>07/29/2014</td>
        <td>10:08:30 AM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Physician Profile View</td>
        <td>07/29/2014</td>
        <td>10:07:41 AM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Some way longer description of an activity yo. </td>
        <td>07/29/2014</td>
        <td>7:42:38 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Password Reset</td>
        <td>06/29/2014</td>
        <td>7:37:41 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Login Failure</td>
        <td>06/17/2014</td>
        <td>7:38:02 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Login Failure</td>
        <td>06/15/2014</td>
        <td>12:37:32 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Login Failure</td>
        <td>05/02/2014</td>
        <td>7:42:38 PM</td>
      </tr>


      <tr class="support-tech-action">
        <td>SUPPORT</td>
        <td>MyHealthOne Tech</td>
        <td>Appt Registration</td>
        <td>04/24/2014</td>
        <td>10:07:41 AM</td>
      </tr>


      <tr class="support-tech-action">
        <td>SUPPORT</td>
        <td>MyHealthOne Tech</td>
        <td>Emulation Mode</td>
        <td>04/23/2014</td>
        <td>10:07:41 AM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Login Success</td>
        <td>04/23/2014</td>
        <td>7:38:02 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Login Success</td>
        <td>03/28/2014</td>
        <td>7:37:41 PM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Profile Change</td>
        <td>03/28/2014</td>
        <td>10:07:41 AM</td>
      </tr>


      <tr>
        <td>WR3218</td>
        <td>Suzy Jenkins</td>
        <td>Login Success</td>
        <td>02/29/2014</td>
        <td>7:38:02 PM</td>
      </tr>


    </tbody>
  </table>
</div> <!--end log-table div-->