<div id="page-breadcrumbs">
  <div class="container-md row">
    <!-- <div class="row"> -->
      <div class="col-sm-10">
        <ol class="breadcrumb">
          <li><a href="{{ page.base_url }}">Home</a></li>
          <li class="active">{{ page.title }}</li>
        </ol>
      </div>
      <div class="col-sm-2 page-actions">
        <a><i class="fa fa-print"></i></a>
        <a><i class="fa fa-download"></i></a>
        <a><i class="fa fa-share-square-o"></i></a>
      </div>
    <!-- </div> -->
  </div>
</div>
