<div id="page-band">
  <div class="container">
    <div id="hca-progress-bar">
      <div id="progress-step-1" class="btn-group">
        <span class="btn progress-step-rectangle" href="#"><i class="fa fa-check-circle"></i> <a href="#f1">Upload A Photo!</a></span>
      </div>
      <div id="progress-step-2" class="btn-group">
        <span class="btn progress-step-rectangle" href="#"><i class="fa fa-circle-o"></i> <a href="#f2">Personal Information</a></span>
      </div>
      <div id="progress-step-3" class="btn-group">
        <span class="btn progress-step-rectangle" href="#"><i class="fa fa-circle-o"></i> <a href="#f3">Submit!</a></span>
      </div>
    </div>
  </div>
</div>


<!-- USE HREF TAGS TO LINK TO FIELDSET PANELS, THEN JS TO SHOW HIDE/CONNECT TO SLIDE -->
