 <!--HUT Search bar section-->
<section id="search-bar" class="crm-search">
  <div class="container-sm">
    
    <div class="row">
      
    <!-- Search form -->
      <div class="col-sm-9" id="main-search-form">
        <form action="{{ page.base_url }}search-results" method="get" id="portal-search" role="form">
          <div class="form-group">
            <label class="sr-only">Screen Reader Only</label>
            <input class="form-control"
              placeholder="Search by doctor's name, specialty, etc." 
              type="search" id="portal-search"
              name="keywords" title="Search">
            <i class="form-icon fa fa-search right"></i>
          </div>
        </form>
      </div>
      
    <!-- Submit button -->
      <div class="col-sm-3">
        <div class="form-group">
          <button class="btn btn-primary" id="portal-search-submit" ><!-- href="{{ page.base_url }}search-results"> -->Search
          </button>
        </div>
      </div>

    </div>

  <!-- centered advanced search button row -->
    <!-- <div class="row">
      <div class="col-sm-12">
        <a class="btn-adv-search"
           id="advanced-search-toggle-nav" 
           data-toggle="" 
           data-target="#advanced-search">+ Advanced Search</a>
      </div>
    </div> -->

  </div> <!--end container for main search form-->

    <!-- Advanced search options row -->
<!--   <section class="advanced-search-wrap" id="advanced-search-wrap-nav">
    <div class="container-sm" id="advanced-search">
      
      <div class="row">
        
        <div class="col-sm-6">
          <div class="form-group">
            <label class="adv-search-label">Additional Search Options</label>
            <input class="form-control"
              placeholder="Enter terms separated by comma" 
              type="search" id=""
              name="keywords" title="Search"
              data-friendly="Keyword Search"
              data-required="true"
              data-validation="none"
              data-set="">
          </div>
          <div class="form-group">
          <label class="adv-search-label">Additional Search Options</label>
          <input class="form-control"
            placeholder="Enter terms separated by comma" 
            type="search" id=""
            name="keywords" title="Search"
            data-friendly="Keyword Search"
            data-required="true"
            data-validation="none"
            data-set="">
          </div>
          <div class="form-group">
          <label class="adv-search-label">Additional Search Options</label>
          <input class="form-control"
            placeholder="Enter terms separated by comma" 
            type="search" id=""
            name="keywords" title="Search"
            data-friendly="Keyword Search"
            data-required="true"
            data-validation="none"
            data-set="">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="adv-search-label">Additional Search Options</label>
            <input class="form-control"
              placeholder="Enter terms separated by comma" 
              type="search" id=""
              name="keywords" title="Search"
              data-friendly="Keyword Search"
              data-required="true"
              data-validation="none"
              data-set="">
          </div>
          <div class="form-group">
          <label class="adv-search-label">Additional Search Options</label>
          <input class="form-control"
            placeholder="Enter terms separated by comma" 
            type="search" id=""
            name="keywords" title="Search"
            data-friendly="Keyword Search"
            data-required="true"
            data-validation="none"
            data-set="">
          </div>
          <div class="form-group">
          <label class="adv-search-label">Additional Search Options</label>
          <input class="form-control"
            placeholder="Enter terms separated by comma" 
            type="search" id=""
            name="keywords" title="Search"
            data-friendly="Keyword Search"
            data-required="true"
            data-validation="none"
            data-set="">
          </div>
        </div>
      </div>-->

      <!-- Submit button -->
<!--       <div class="row">
        <div class="col-sm-3 btn-centered">
          <div class="form-group">
            <a class="btn btn-primary width100" href="">Search</a>
          </div>
        </div>
      </div>
    </div> 
  </section> -->
  <!--end advanced search section-->
</section> <!--End #hut-search search bar section