<div class="static-modal" role="dialog" id="static-modal-id">
  <div class="static-modal-dialog">

    <div class="static-modal-content" id="flipthis">
      <div class="static-modal-header">
        <button type="button" class="close" data-dismiss="static-modal" aria-hidden="true">&times;</button>
        <h4 class="static-modal-title">static-modal title</h4>
      </div>
      <div class="static-modal-body">
        <div id="eb-facility-logo">
          [Facility Logo here as background image of this div]
        </div>
        <form action="" method="POST" role="form">
          <div class="form-group row">
            <div class="float-label col-md-12">
              <input type="text" class="form-control" id="" placeholder="Username">
            </div>
            <div class="float-label col-md-12">
              <input type="text" class="form-control" id="" placeholder="Password">
            </div>
            <div class="col-md-8">
              <input type="checkbox" id="rem-comp" checked>
              <label for="rem-comp">Remember This Computer</label>
            </div>
            <div class="col-md-4">
              <a href=""><i class="fa fa-question-circle"></i> Trouble Logging In?</a>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
      <div class="static-modal-footer">
        <h4>DO MORE WITH AN ACCOUNT!</h4>
        <span><i class="fa fa-flask"></i> Visit Your Lab Results</span>
        <span><i class="fa fa-medkit"></i> Review Your Health Records</span>
        <span><i class="fa fa-calendar"></i> Request Appointments</span>
        <span><i class="fa fa-money"></i> Easy Access to Your Accounts</span>
        <button type="submit" class="btn btn-primary btn-block">Request New Account</button>
      </div>
    </div>

    <div class="static-modal-content" id="flipthis1">
      <div class="static-modal-header">
        <button type="button" class="close" data-dismiss="static-modal" aria-hidden="true">&times;</button>
        <h4 class="static-modal-title">static-modal title</h4>
      </div>
      <div class="static-modal-body">
        <div id="eb-facility-logo">
          [Facility Logo here as background image of this div]
        </div>
        <form action="" method="POST" role="form">
          <div class="form-group row">
            <div class="float-label col-md-12">
              <input type="text" class="form-control" id="" placeholder="Username">
            </div>
            <div class="float-label col-md-12">
              <input type="text" class="form-control" id="" placeholder="Password">
            </div>
            <div class="col-md-8">
              <input type="checkbox" id="rem-comp" checked>
              <label for="rem-comp">Remember This Computer</label>
            </div>
            <div class="col-md-4">
              <a href=""><i class="fa fa-question-circle"></i> Trouble Logging In?</a>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
      <div class="static-modal-footer">
        <h4>DO MORE WITH AN ACCOUNT!</h4>
        <span><i class="fa fa-flask"></i> Visit Your Lab Results</span>
        <span><i class="fa fa-medkit"></i> Review Your Health Records</span>
        <span><i class="fa fa-calendar"></i> Request Appointments</span>
        <span><i class="fa fa-money"></i> Easy Access to Your Accounts</span>
        <button type="submit" class="btn btn-primary btn-block">Request New Account</button>
      </div>
    </div>
  </div>
</div>
