<!-- Tabs  -->
<section class="tabs">
  <div class="container-sm hidden-xs">
    <div class="row">
      <ul class="nav nav-tabs search-tab-wrap" id="resultTabs"> 
      
        <li class="col-xs-4 search-tab active" id="pd-last-name-tab">
          <a class="collapsed"  id="hut-phys-link" data-toggle="tab" href="#pd-last-name-tab">
            <i class="fa fa-user-md icon-style"></i>
            <span class="">Browse by Last Name</span>
          </a>
        </li>

        <li class="col-xs-4 search-tab" id="pd-specialty-tab">
          <a class="collapsed" id="hut-serv-link" data-toggle="tab" href="#pd-specialty-tab">
            <i class="fa fa-stethoscope icon-style"></i>
            <span class="">Browse by Specialty</span>
          </a>
        </li>

        <li class="col-xs-4 search-tab" id="pd-more-options-tab">
          <a class="collapsed" id="hut-art-link" data-toggle="tab" href="#pd-more-options-tab">
            <span class="">More Search Options</span>
            <i class="fa fa-chevron-down icon-style"></i>
          </a>
        </li>
       
      </ul>
    </div>
  </div>
</section>
<!-- end tabs -->