<!-- de-emulate user button -->
  <button class="btn btn-warning btn-de-emulate" data-toggle="modal" data-target=".confirm-de-emulate">

    De-emulate User<i class="fa fa-chevron-right"></i>

    <span class="quit-delegating-user-info">
      <img src="{{ page.base_url }}img/profile-daughter-sm.jpg" class="img-circle" width="30" height="30"><i>Daphne Jenkins</i>
    </span>

  </button>

  <div id="border-top"></div>
  <div id="border-bottom"></div>
  <div id="border-left"></div>
  <div id="border-right"></div>
<!-- END EMULATION BORDERS -->