<ul class="progress-wizard">
  <li>
    <!-- Step 1<br /> -->
    <a href="#step-1">
    <span class="stepNumber">1</span>
    <span class="stepDesc">
    <small>Event Information</small>
    <i class="fa fa-arrow-circle-o-down active"></i>
    <i class="fa fa-check-circle-o completed"></i>
    <i class="fa fa-circle-o disabled"></i>
    </span>
    </a>
    <i class="fa fa-long-arrow-right step-arrow"></i>
  </li>
  <li>
    <!-- Step 2<br /> -->
    <a href="#step-2">
    <span class="stepNumber">2</span>
    <span class="stepDesc">
    <small>Your Information</small>
    <i class="fa fa-arrow-circle-o-down active"></i>
    <i class="fa fa-check-circle-o completed"></i>
    <i class="fa fa-circle-o disabled"></i>
    </span>
    </a>
    <i class="fa fa-long-arrow-right step-arrow"></i>
  </li>
  <li>
    <!-- Step 3<br /> -->
    <a href="#step-3">
    <span class="stepNumber">3</span>
    <span class="stepDesc">
    <small>Submit</small>
    <i class="fa fa-arrow-circle-o-down active"></i>
    <i class="fa fa-check-circle-o completed"></i>
    <i class="fa fa-circle-o disabled"></i>
    </span>
    </a>
  </li>
</ul>
